extends content

block append body

	div!=contents

	for blogentry in collections.blogs
		.panel.panel-default(class=blogentry.private?'panel-warning':'')
			.panel-heading
				h3.panel-title
					unless blogentry.public
						span.glyphicon.glyphicon-lock
					=blogentry.title
					br
					span.date=blogentry.date

					
			.panel-body!=blogentry.contents
				p.author Created by: 

					=blogentry.author
					
			.panel-footer
				a(href="#top").btn Back to top

